*{
    box-sizing: border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
}

hr{
    border: 2px solid #7d97ad;
}

.text-thin{
    font-weight: 100;
    font-size: 45px;
}

.text-sub{
    color: #7d97ad;
}

.division{
    margin-top: 30px;
}

.rodape{
    margin-bottom: 30px;
}

.subtitle{
    text-transform: uppercase;
    color: #2d3c49;
    margin-top: 10px;
}

.subtitle-division{
    margin-top: 10px;
}


.img-fixed{
    width: 355px;
    height: 250px;
}
